FerreteriaWPF/FerreteriaWPF/DemoCSTimbraCFDI/Service References/ServiceReference1/Timbrado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="RegistraEmisor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioIntegrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="base64Cer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="base64Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraEmisorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistraEmisorResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="TimbraCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioIntegrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlComprobanteBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idComprobante" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbraCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbraCFDIResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioIntegrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folioUUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelaCFDIResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioIntegrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folioUUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneCFDIResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistraEmisorSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraEmisor" />
  </wsdl:message>
  <wsdl:message name="RegistraEmisorSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraEmisorResponse" />
  </wsdl:message>
  <wsdl:message name="TimbraCFDISoapIn">
    <wsdl:part name="parameters" element="tns:TimbraCFDI" />
  </wsdl:message>
  <wsdl:message name="TimbraCFDISoapOut">
    <wsdl:part name="parameters" element="tns:TimbraCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="CancelaCFDISoapIn">
    <wsdl:part name="parameters" element="tns:CancelaCFDI" />
  </wsdl:message>
  <wsdl:message name="CancelaCFDISoapOut">
    <wsdl:part name="parameters" element="tns:CancelaCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="ObtieneCFDISoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneCFDI" />
  </wsdl:message>
  <wsdl:message name="ObtieneCFDISoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneCFDIResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="RegistraEmisor">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de registro para emisores</wsdl:documentation>
      <wsdl:input message="tns:RegistraEmisorSoapIn" />
      <wsdl:output message="tns:RegistraEmisorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbraCFDI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de timbrado para Integradores</wsdl:documentation>
      <wsdl:input message="tns:TimbraCFDISoapIn" />
      <wsdl:output message="tns:TimbraCFDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelaCFDI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de cancelación CFDI</wsdl:documentation>
      <wsdl:input message="tns:CancelaCFDISoapIn" />
      <wsdl:output message="tns:CancelaCFDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneCFDI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de consulta CFDI</wsdl:documentation>
      <wsdl:input message="tns:ObtieneCFDISoapIn" />
      <wsdl:output message="tns:ObtieneCFDISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistraEmisor">
      <soap:operation soapAction="http://localhost/RegistraEmisor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraCFDI">
      <soap:operation soapAction="http://localhost/TimbraCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaCFDI">
      <soap:operation soapAction="http://localhost/CancelaCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneCFDI">
      <soap:operation soapAction="http://localhost/ObtieneCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistraEmisor">
      <soap12:operation soapAction="http://localhost/RegistraEmisor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraCFDI">
      <soap12:operation soapAction="http://localhost/TimbraCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaCFDI">
      <soap12:operation soapAction="http://localhost/CancelaCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneCFDI">
      <soap12:operation soapAction="http://localhost/ObtieneCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:57899/Timbrado.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:57899/Timbrado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>